<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/CV/style.css">
		</head>
		<body>
	<ul>
	<a href="/">Home</a> / 
	<a href="/Publications">Publications</a> / 
	<a href="/CV">CV</a> / 
        <a href="/Seminars">Seminars</a> / 
	<a href="/Notes">Notes</a> / 
	<a href="mailto:xiaowei.ye@polytechnique.edu">Email</a>
	</ul>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
